#listing {
  overflow: hidden;
}
.header__mobile {
  border-bottom: 1px solid #DBDEE5;
}
.header__mobile-notifi {
  height: 26px;
  display: block;
  line-height: 26px;
  padding-left: 10px;
  background-color: #EB6E79;
  font-size: 12px;
  font-weight: 500;
  color: #FFF;
}
.header__mobile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 7px 12px;
  height: 58px;
}
.header__mobile-list {
  display: flex;
  justify-content: space-between;
}
.header__mobile-item {
  padding-right: 18px;
  height: 30px;
  cursor: pointer;
}
.header__mobile-item:last-child {
  padding-right: 0;
}
.header__mobile-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
}
.header-icon {
  cursor: pointer;
}
.header__content {
  position: fixed;
  background-color: #FFF;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.header__content.header__content-open {
  display: block;
}
.header__menu {
  background-color: #FAFAFA;
  padding: 0 16px 0 16px;
}
.header__navbar {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}
.header__navbar-list {
  display: flex;
  align-items: center;
}
.header__navbar-item {
  padding-right: 23px;
  position: relative;
}
.header__navbar-item:last-child {
  padding-right: 0;
}
.header__navbar-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
}
.header__navbar-separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  border-right: 1px solid #DBDEE6;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.header__navbar-first {
  padding-right: 11px;
}
.header__navbar-active-1 {
  text-transform: none;
  color: #000;
}
.header__category-list {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.header__category-item {
  text-align: center;
  position: relative;
  flex: 1;
  padding: 0 14px;
}
.header__category-item:first-child {
  border-bottom: 1px solid #2D2D2D;
}
.header__category-item-link {
  font-size: 12px;
  font-weight: 500;
  color: #637284;
}
.header-active-2 {
  color: #2D2D2D;
}
.header__firstmenu {
  background-color: #FFF;
}
.header__firstmenu-list {
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px 24px 21px;
}
.header__firstmenu-item {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #DBDEE5;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding-right: 13px;
  position: relative;
}
.header__firstmenu-logout-link {
  color: #2D2D2D;
  align-items: center;
  padding-left: 20px;
  display: flex;
  font-size: 14px;
  font-weight: 500;
}
.header__firstmenu-logout-link svg {
  padding-right: 8px;
}
.header__modal {
  overflow-y: scroll;
  z-index: 1000;
  max-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.header__modal.header__modal-open {
  display: block;
}
.header__secondmenu {
  width: 100%;
  position: relative;
  background-color: #fff;
}
.header__secondmenu-title {
  height: 50px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 700;
}
.header__secondmenu-title svg {
  cursor: pointer;
}
.header__secondmenu-service {
  display: block;
  padding: 24px 32px 0 32px;
}
.header__secondmenu-content {
  padding-bottom: 24px ;
}
.header__secondmenu-content:nth-of-type(2) {
  padding-top: 40px;
}
.header__secondmenu-item {
  display: flex;
  height: 44px;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  align-items: center;
  border-bottom: 1px solid #DBDEE5;
}
.header__submenu {
  display: none;
}
.header__submenu-list {
  height: 52px;
  display: flex;
  align-items: center;
}
.header__submenu-item {
  padding-right: 40px;
}
.header__submenu-item-link {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
}
.rings__video-img {
  margin-top: 20px;
  position: relative;
}
.rings__video-img img {
  width: 100%;
}
.rings__video-stop .stop,
.rings__video-stop-icon {
  position: absolute;
  z-index: 10;
  right: 50%;
  transform: translate(50%, -50%);
}
.rings__video-stop .stop {
  top: 50%;
}
.rings__video-stop-icon {
  top: 43%;
}
.rings__video-bottom,
.rings__video-above {
  display: none;
}
.article {
  padding-top: 32px;
}
.article__navigation {
  display: flex;
  align-items: center;
}
.article__navigation-link {
  font-size: 12px;
  font-weight: 400;
  color: #2D2D2D;
  text-transform: capitalize;
}
.article__present {
  padding-top: 24px;
}
.article__infor {
  padding-bottom: 22px;
}
.article__infor-discount {
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: #374454;
  font-size: 12px;
  font-weight: 500;
}
.article__infor-discount span {
  font-size: 12px;
  font-weight: 500;
  color: #2D2D2D;
  background: #FAFAFA;
  border-radius: 16px;
  margin-right: 24px;
  padding: 8px;
}
.article__list {
  display: flex;
  align-items: center;
}
.article__list-item {
  padding: 16px 0;
  flex: 1;
  text-align: center;
  border-bottom: 1px solid #DBDEE5;
}
.article__list-item:first-child {
  border-bottom: 1px solid #2D2D2D;
}
.article__list-link {
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
  line-height: 140%;
}
.categories {
  padding-bottom: 24px;
}
.categories__img {
  position: relative;
}
.categories__pagi {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  cursor: pointer;
}
.categories__pagi svg {
  margin-right: 8px;
}
.container__head {
  display: flex;
  flex-direction: column;
}
.container__title {
  display: flex;
  padding-bottom: 10px;
}
.container__title h2 {
  color: #374454;
  padding-right: 12px;
}
.container__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__content-list {
  justify-content: space-between;
}
.container__content-item {
  display: flex;
  align-items: center;
}
.container__content-item h2 {
  color: #374454;
  padding-right: 12px;
}
.container__content-text {
  color: #637284;
}
.container__content-icon img:first-child {
  margin-right: 12px;
}
.container__content-menu {
  position: relative;
}
.container__content-menu:hover .container__content-menu-list {
  display: block;
}
.container__content-menu-list {
  position: absolute;
  top: calc(100% + 14px);
  text-align: center;
  display: none;
  background-color: #FAFAFA;
  width: 187px;
  box-shadow: 0 1px 5px #DBDEE6;
  padding: 24px 0;
  z-index: 10;
  right: -40px;
}
.container__content-menu-list::after {
  content: "";
  position: absolute;
  height: 40px ;
  width: 100%;
  top: -22px;
  right: 0;
}
.container__content-menu-item {
  line-height: 44px;
  height: 44px;
}
.container__content-menu-item a {
  font-size: 14px;
  font-weight: 500;
  color: #2D2D2D;
}
.container__content-menu-finish {
  display: flex;
  align-items: center;
}
.container__content-menu-finish svg {
  margin-right: 12px;
}
.container__content-menu-finish a {
  font-size: 14px;
  font-weight: 700;
  color: #2D2D2D;
}
.container__best {
  padding-top: 20px;
}
.container__best-item {
  display: block;
  border: 1px solid #FFF;
  margin-top: 20px;
}
.container__best-item:hover {
  border: 1px solid #DBDEE6;
  border-radius: 2px;
}
.container__best-item-img {
  position: relative;
}
.container__best-item-img div {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.container__best-item-img h1 {
  color: #FFF;
  position: absolute;
  bottom: 30px;
  left: 10px;
}
.container__best-item h2 {
  padding-left: 10px;
}
.container__best-item-heart {
  position: absolute;
  top: 6px;
  right: 4px;
}
.container__best-item-diamond {
  position: absolute;
  top: calc(100% - 30px);
  left: 10px;
}
.container__best-item p {
  padding: 6px 0 6px 10px;
  color: #374454;
}
.container__best-number {
  display: flex;
  padding-left: 10px;
}
.container__best-number p {
  padding: 0 12px 6px 0;
}
.container__best-price {
  font-size: 14px;
  font-weight: 700;
  color: #2D2D2D;
  padding-left: 10px;
}
.container__best-first {
  order: 1;
}
.container__best-text {
  height: 44px;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  margin: 42px 0 16px 0;
  align-items: center;
  padding: 0 12px;
}
.container__best-especially {
  cursor: pointer;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.container__best-especially-img {
  display: block;
  max-width: 95%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 20px;
}
.container__best-especially h1 {
  color: #FFF;
  position: absolute;
  bottom: 40px;
  padding: 0 16px;
}
.container__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  row-gap: 10px;
}
.container__nav p {
  position: relative;
}
.container__nav p::after {
  content: "";
  border-bottom: 2px solid #2D2D2D;
  position: absolute;
  top: calc(100% + 2px);
  right: 70%;
  left: 0;
}
.container__nav-down {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.container__nav-down h1 {
  height: 48px;
  line-height: 48px;
  padding-right: 14px;
  margin: 0;
}
.container__filter p {
  padding-top: 48px;
  color: #374454;
}
.container__filter-heading {
  padding-bottom: 34px;
  display: block;
}
.container__filter-heading h2 {
  padding-bottom: 12px;
}
.container__filter-heading-list {
  display: flex;
  margin-bottom: 8px;
}
.container__filter-heading-item {
  padding-right: 14px;
}
.container__filter-heading p {
  padding-top: 18px;
}
.container__filter-menu {
  padding-top: 16px;
  display: block;
}
.container__filter-menu-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DBDEE5;
  align-items: center;
  cursor: pointer;
  height: 44px;
}
.container__filter-menu-item:last-child {
  color: #DBDEE5;
  border-bottom: none;
}
.title {
  position: relative;
}
.title h1 {
  font-size: 20px;
  font-weight: 600;
}
.title__vector-list {
  position: absolute;
  float: right;
  right: 0;
  top: -20%;
}
.title__vector-item {
  width: 48px;
  height: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.title__vector-item:first-child {
  background-color: #2D2D2D;
}
.title__vector-item:last-child {
  margin-top: 16px;
  background-color: #EB6E79;
}
.tools {
  display: block;
  border: 1px solid #DBDEE6;
  border-color: #FAFAFA;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #FFF;
  position: fixed;
  z-index: 3;
  top: 80%;
  left: 0;
  right: 0;
}
.tools-list {
  display: flex;
  align-items: center;
  height: 44px;
}
.tools-item {
  display: block;
  line-height: 44px;
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.tools-item-price {
  color: #DBDEE6;
}
.tools-item:last-child {
  background-color: #2D2D2D;
}
.tools-item-icon {
  padding-top: 5px;
}
.footer {
  padding-top: 64px;
}
.footer__heading {
  background-color: #EB6E79;
  padding: 0 19px;
}
.footer__heading-close {
  float: right;
  padding-top: 14px;
}
.footer__heading-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  padding-top: 26px;
  padding-bottom: 20px;
  column-gap: 14px;
}
.footer__heading-item-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #FFF;
}
.footer__heading-item-link img {
  padding-right: 8px;
}
.footer__subscribe {
  background-color: #FAFAFA;
  position: relative;
}
.footer__subscribe-block {
  padding: 57px 0;
  display: grid;
  justify-content: center;
  row-gap: 24px;
}
.footer__email {
  background-color: #FFF;
  height: 40px;
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid #DBDEE6;
  border-radius: 2px;
}
.footer__email-input-wrap {
  flex: 1;
  height: 100%;
}
.footer__email-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 500;
  color: #637284;
}
.footer__email-btn {
  border: none;
  height: 36px;
  width: 40px;
  background-color: #2D2D2D;
  cursor: pointer;
}
.footer__sponsor {
  position: relative;
}
.footer__sponsor-list {
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #DBDEE6;
  border-top: 1px solid #DBDEE6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
}
.footer__sponsor-img {
  height: 100%;
  display: block;
}
.footer__contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer__contact-rating {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 22px;
}
.footer__contact-rating h2 {
  padding-right: 12px;
  color: #2D2D2D;
}
.footer__contact-rating-point {
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
}
.footer__contact-star-list {
  display: flex;
}
.footer__contact-star-item {
  padding-right: 4px;
  cursor: pointer;
}
.footer__contact-item {
  padding-bottom: 20px;
}
.footer__contact-link {
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
  line-height: 1.8;
}
.footer__contact-finish {
  padding-top: 28px;
  padding-bottom: 16px;
}
.footer__contact-finish-link {
  font-size: 16px;
  font-weight: 600;
  color: #2D2D2D;
}
.footer__contact-badges-img {
  padding-right: 14px;
  padding-bottom: 12px;
}
.footer__social {
  padding-bottom: 48px;
}
.footer__social-link {
  padding-left: 8px;
}
.footer__bottom {
  margin-bottom: 20px;
  display: block;
}
.footer__bottom-country {
  display: flex;
}
.footer__bottom-country-img {
  padding-right: 12px;
}
.footer__bottom-list {
  padding-top: 24px;
}
.footer__bottom-item {
  padding-right: 20px;
  padding-bottom: 16px;
}
.footer__bottom-item:last-child {
  padding-right: 0;
}
.footer__bottom-item-link {
  font-size: 14px;
  font-weight: 500;
  color: #637284;
}
.footer__bottom-item:first-child a {
  color: #2D2D2D;
}
.footer__bottom-year {
  color: #637284;
  font-size: 14px;
  font-weight: 500;
}
.control {
  top: 20%;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  padding-top: 32px;
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #FFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.control__down {
  position: absolute;
  top: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 12px;
}
.control__stone h1 {
  padding-bottom: 8px;
}
.control__stone-list {
  display: flex;
  justify-content: space-between;
  padding-top: 16px ;
  margin-right: 36px;
}
.control__stone-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.control__stone-item :first-child::before {
  content: " ";
  height: 4px;
  width: 4px;
  display: inline-block;
  background-color: #dbdee6;
  margin-left: -11px;
  position: absolute;
  margin-top: 6px;
}
.control__stone-item h2 {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 700;
}
.control__content {
  padding: 12px 0;
  margin-top: 12px;
}
.control__content-item {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.control__content-item-check {
  display: block;
}
.control__content-item-check input {
  width: 18px;
  height: 18px;
}
.control__content-item h2 {
  padding: 0 12px;
}
.control__list {
  margin-top: 30px;
}
.control__list-item {
  padding: 10px 0;
}
.control__list-item:first-child {
  border-bottom: none;
}
.control__list-apply {
  background-color: #2D2D2D;
  border-radius: 2px;
}
.control__list-apply h1 {
  color: #FFF;
}
.control__price {
  width: 100%;
  padding-top: 32px;
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #FFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 50%;
}
.control__price p {
  color: #637284;
  padding-bottom: 12px;
}
.control__price-min {
  color: #637284;
  font-size: 14px;
  font-weight: 500;
  min-width: 142px;
  height: 42px;
  background-color: #FFF;
  border: 1px solid #DBDEE5;
  outline: none;
}
.control__price-min::after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  border-left: 1px solid #2D2D2D;
  left: 50%;
  top: 40%;
  transform: rotate(90deg);
}
.control__price-range {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.modal-2,
.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}
.modal-2.modal-2-open,
.modal-2.modal-open,
.modal.modal-2-open,
.modal.modal-open {
  display: block;
}
.modal-2__overlay,
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #374454;
  opacity: 0.8;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.row-no-wrap {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
}
.col {
  padding-left: 4px;
  padding-right: 4px;
}
.c-3,
.c-4,
.c-6,
.c-12 {
  display: block;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .p-l-80 {
    padding-left: 80px;
  }
  .row-no-wrap {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col {
    padding-right: 10px;
    padding-left: 10px;
  }
  .l-1,
  .l-3,
  .l-2-4,
  .l-2-5-1,
  .l-2-5,
  .l-2,
  .l-4,
  .l-5,
  .l-6,
  .l-8,
  .l-10 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-2-5 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-2-5-1 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .m-2,
  .m-4,
  .m-5,
  .m-8,
  .m-10,
  .m-12 {
    display: block;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 420px) {
  .header__navbar {
    padding: 16px;
  }
  .header__menu {
    flex-direction: column;
    background-color: #FAFAFA;
    border-bottom: 1px solid #DBDEE5;
  }
  .container__content {
    display: block;
  }
}
@media (min-width: 768px) {
  .header__mobile-notifi {
    text-align: center;
  }
  .article__infor-title {
    font-size: 20px;
    font-weight: 600;
  }
  .footer__sponsor-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 16px;
  }
  .footer__contact-help:last-child {
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .header__hide-on-pc {
    display: none;
  }
  .header__hide {
    display: flex;
  }
  .header__content {
    display: block;
    position: static;
  }
  .header__navbar {
    padding: 0;
  }
  .header__navbar-list {
    padding: 0 12px;
  }
  .header__navbar-list :last-child {
    padding-right: 0;
  }
  .header__navbar-item-link {
    font-size: 14px;
    font-weight: 500;
  }
  .header__menu {
    background-color: #FFF;
    display: flex;
    padding: 0;
  }
  .header__logo-small {
    display: none;
  }
  .header__logo-big {
    display: block;
  }
  .header__mobile-notifi {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 32px;
  }
  .header__mobile-title {
    padding: 8px 32px;
    flex-direction: row-reverse;
  }
  .header__mobile-list:nth-child(4) {
    order: -1;
  }
  .header__category-item {
    flex: none;
    padding: 0 60px 0 0;
  }
  .header__category-item:first-child {
    border-bottom: none;
  }
  .header__category-item:first-child::before {
    border-bottom: 1px solid #2D2D2D;
    position: absolute;
    right: 60px;
    left: 0;
    content: "";
    top: 25px;
  }
  .header__category-item-link {
    font-size: 14px;
    font-weight: 500;
  }
  .header__category-item-link p {
    display: none;
  }
  .header__firstmenu {
    display: none;
  }
  .header__submenu {
    display: block;
  }
  .header__submenu-item:last-child {
    padding-right: 0;
  }
  .article__present {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article__infor {
    max-width: 500px;
  }
  .article__infor-title {
    font-size: 48px;
    font-weight: 600;
  }
  .article__infor-discount {
    text-transform: uppercase;
    padding: 24px 0;
  }
  .article__infor-discount span {
    background-color: #DBDEE5;
  }
  .article__infor p {
    font-size: 20px;
    font-weight: 400;
    color: #374454;
  }
  .article__list {
    padding: 0 32px;
  }
  .article__list-item {
    flex: 0 0 10%;
  }
  .article__list-item p {
    display: none;
  }
  .categories {
    padding-top: 14px;
  }
  .container__head {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .container__content-list:first-child {
    padding-right: 32px;
  }
  .container__title {
    padding-bottom: 0;
  }
  .title h1 {
    font-size: 32px;
    font-weight: 600;
  }
  .tools {
    display: none;
  }
  .footer__heading {
    height: 48px;
  }
  .footer__heading-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0;
  }
  .footer__subscribe p {
    font-size: 14px;
    font-weight: 500;
  }
  .footer__sponsor-list {
    display: flex;
  }
  .footer__sponsor-item {
    flex: 1;
  }
  .footer__sponsor-item-link {
    position: relative;
  }
  .footer__sponsor-item-link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
    display: block;
  }
  .footer__sponsor-item:last-child a::before {
    display: none;
  }
  .footer__sponsor-img {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__contact-help {
    padding-top: 79px;
  }
  .footer__contact-finish {
    padding-top: 0;
  }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__bottom-list {
    display: flex;
    order: 1;
    padding: 14px 0 0 0;
  }
  .footer__bottom-item {
    padding-right: 40px;
  }
  .footer__bottom-item:last-child {
    padding-right: 0;
  }
}
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.p-2 {
  padding-top: 2px;
}
.p-32 {
  padding: 0 32px;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  height: 42px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.fonts-1 {
  font-size: 14px;
  font-weight: 500;
}
.fonts-2 {
  font-size: 12px;
  font-weight: 500;
}
.fonts-3 {
  font-size: 14px;
  font-weight: 700;
}
.fonts-4 {
  font-size: 20px;
  font-weight: 600;
}
.fonts-5 {
  font-size: 12px;
  font-weight: 600;
}
.fonts-6 {
  font-size: 12px;
  font-weight: 400;
}
.fonts-7 {
  font-size: 48px;
  font-weight: 600;
}
.fonts-8 {
  font-size: 20px;
  font-weight: 400;
}
.fonts-9 {
  font-size: 30px;
  font-weight: 600;
}
.fonts-10 {
  font-size: 16px;
  font-weight: 600;
}
.fonts-11 {
  font-size: 36px;
  font-weight: 600;
}
.fonts-12 {
  font-size: 26px;
  font-weight: 600;
}
.fonts-13 {
  font-size: 16px;
  font-weight: 500;
}
.fonts-14 {
  font-size: 32px;
  font-weight: 600;
}
.fonts-15 {
  font-size: 28px;
  font-weight: 600;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.p-80 {
  padding-top: 80px;
}
p {
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  color: #2D2D2D;
}
.margin-top {
  margin-top: 20px;
}
h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #2D2D2D;
}
h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #FFF;
}
h1 {
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}
h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
}
.img {
  border-radius: 2px;
  width: 100%;
}
.question-img {
  width: 14px;
  height: 14px;
}
.filter {
  filter: brightness(80%);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.hide-on-mobi {
  display: none;
}
.show-on-mobi {
  display: block;
}
@media (min-width: 768px) {
  .hide-on-tablet {
    display: none;
  }
}
@media (min-width: 1024px) {
  .show-on-pc {
    display: block;
  }
  .hide-on-pc {
    display: none;
  }
  .show-on-pc-flex {
    display: flex;
  }
}
