@media (max-width: 420px) {
    .header {
        &__navbar {
            padding: 16px;
        }
        &__menu {
            flex-direction: column;
            background-color: @header-color;
            border-bottom: 1px solid @border-color;
        }
    }
}   

@media (min-width: 768px) {

    .article{
        &__infor {
            &-title {
                .fonts-4();
            }
        }
    }

    .footer {
        &__contact {
            &-help {
                &:last-child {
                    padding-bottom: 60px;
                }
            }
        }
    }

}

@media (min-width: 1024px) {

    .header {
        &__hide-on-pc {
            display: none;
        }

        &__hide {
            display: flex;
        }

        &__content {
            display: block;
            position: static;
        }

        &__navbar {
            padding: 0;

            &-list{
                padding: 0 12px;

                :last-child {
                    padding-right: 0;
                }
            }

            &-item {
                &-link {
                    .fonts-1();
                }
            }

        }
        
        &__menu {
            background-color: @white-color;
            display: flex;
            padding: 0;
        }
        
        &__logo-small {
            display: none;
        }

        &__logo-big {
            display: block;
        }

        &__mobile {

            &-notifi {
                .fonts-3();
                text-align: center;   
                height: 32px;
                
            }

            &-title {
                padding: 8px 32px;
                flex-direction: row-reverse;
            }

            &-list {
                &:nth-child(4) {
                    order: -1;
                }
            }
        }

        &__category {

            &-list {
                
            }

            &-item {
                flex: none;
                padding: 0 60px 0 0;

                &:first-child{
                    border-bottom: none;
                    &::before {
                        border-bottom: 1px solid #2D2D2D;
                        position: absolute;
                        right: 54px;
                        left: -4px;
                        content: "";
                        top: 25px;
                    }
                }
                
                &-link {
                    .fonts-1(); 
                   
                    & p {
                        display: none;
                    }  
                }
            }
        }

        &__firstmenu {
            display: none;
        }

        &__submenu {
            display: block;
            &-item {                     
                &:last-child {
                    padding-right: 0;
                }
            }
        }

    }

    .article {
        &__present {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        &__infor {
            max-width: 500px;
            &-title {
                .fonts-7();
            }
            &-discount {
                text-transform: uppercase;
                padding: 24px 0;
                & span {
                    background-color: @border-color;
                }
            }

            & p {
                .fonts-8();
                color: @listing-text-color;
            }
        }

        &__list {
            padding: 0 32px;
            &-item {
                flex: 0 0 10%;
                & p {
                    display: none
                }

            }
        }
    
    }


    .categories {
        padding-top: 14px;
    }
    .container {
        &__head {
            .display-flex();
        }
        
        &__content {
            &-list {
                &:first-child {
                    padding-right: 32px;
                }
            }
        }
    }

    .title {
        & h1 {
            .fonts-14();
        }
    
    }

    .tools {
        display: none;
    }

    .footer {
        &__heading {
            height: 48px;

            &-close {
                display:block;
            }

            &-list {
                display: flex;
                justify-content: space-evenly; 
                align-items: center;
                line-height: 48px;
                padding: 0;
            }
        }

        &__subscribe  {
            & p {
                .fonts-1();
            }
        }

        &__sponsor {
            &-item {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 16px;
                    border-right: 1px solid #DBDEE6;
                    top: 40%;
                    transform: translateY(-50%);                             
                }   

                &:first-child{
                    &::before {
                        display: none ;
                    }
                }
            }
        }

        &__contact {
            &-help {
                padding-top: 79px;
            }

            &-finish {
                padding-top: 0;
            }
        }

        &__bottom {
            .display-flex();
            align-items: center;

            &-country {
                display: block;
            }

            &-list {
                display: flex;
                order: 1;
                padding: 14px 0 0 0;
            }

            &-item {
                padding-right: 40px;
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    
}